PORT=4002
NODE_ENV=development

#Postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/user_test?schema=public

#JWKS
AUTH_JWKS_URL=http://auth-service:4000/api/auth/jwks.json

#Redis
# REDIS_URL=redis://localhost:6379

#RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
SERVICE_NAME=user-service

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_NAME=your-bucket-name
S3_AVATAR_PREFIX=avatars/